RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]

# Garantir que Authorization chegue ao PHP
SetEnvIfNoCase Authorization "^(.*)" HTTP_AUTHORIZATION=$1